
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    background-color: black;
}

.menu-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: blue;
}


.menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  background-color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}


.menu-content {
  /* background: #fff; */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.margin-items {
  margin: 15px;
}



.subView {
  height: 90px;
  width: 98%;
  align-self: center;
  box-sizing: border-box;
}

.submit {
  background-color: rgb(235, 235, 235);
  border-color: rgb(133, 133, 133);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  /* align-items: center; */
}

.submitURL {
  /* flex: 0; */
  background-color: #f8f8f8;
  align-self: center;
  width: 15%;
  height: 100%;
}

.submit-title {
  height: 50%;
  width: 75%;
  align-self: center;
  /* flex: 2; */
  background-color: #f8f8f8;
  /* border-radius: 9px; */
  border-color: black;
  /* border-width: 1px; */
  margin-right: 5%;
}