.lis {
  display: flex !important;
  flex-direction: row;
  /* width: 1000px; */
  /* height: 500;
  width: 1500px; */
  margin-bottom: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.gridList {
  /* width: 100%; */
  align-items: center;
  display: flex;
  background-color: white;
  flex-direction: column;
}



.titles {
  text-align: center;
  width: 100%;
  /* height: 1em; */
  margin: 10px;
  height: 2em;
  font-size: 1.5em;
  /* background-color: red; */
}

.titles-input {
  border: none;
  background-color: transparent;
}

.option {
  flex-flow: wrap;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */

  position: fixed;
  top: 20px;
  right: 20px;
  vertical-align: middle;
  overflow-x: auto;
}

.saveBtn-hide {
  display: none;
}

.saveBtn {

  /* left: 20px; */
  z-index: 666;
  align-self: center;
  height: 50px;
  width: 150;
  margin: 19px;
  background-color: white;
  padding: 8px;
  min-width: 6em;
}


.FlexView {
  display: flex; 
  justify-content: flex-end;
}

.columnView {
  display: none;
}

.columnView-active {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

}

.defaultSpan {
  text-align: center;
  align-self: center;
  margin-left: 100px;
}




.imgGallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.imgGallery-active {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;


}

.gallery-pic {
  align-self: stretch;
  /* flex: 2; */
  border: none;
  /* width: 100%; */
  width: 100%;
  height: 100%;
  vertical-align:middle;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  flex: 1 1 auto;
}