.lis {
  display: flex !important;
  flex-direction: row;
  margin-bottom: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.gridList {
  align-items: center;
  display: flex;
  background-color: white;
  flex-direction: column;
}



.titles {
  text-align: center;
  width: 100%;
  margin: 10px;
  height: 2em;
  font-size: 1.5em;
}

.titles-input {
  border: none;
  background-color: transparent;
}

.option {
  flex-flow: wrap;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 20px;
  right: 20px;
  vertical-align: middle;
  overflow-x: auto;
}

.saveBtn-hide {
  display: none;
}

.saveBtn {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;

  content: '';
  margin: 5px;
  background: linear-gradient(135deg, #6e8efb, #77bbe3);
  border-radius: 4px;
  transition: box-shadow .5s ease, transform .2s ease;
  will-change: transform;
}


.FlexView {
  display: flex; 
  justify-content: flex-end;
}

.columnView {
  display: none;
}

.columnView-active {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

}

.defaultSpan {
  text-align: center;
  align-self: center;
  margin-left: 100px;
}




.imgGallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.imgGallery-active {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;


}

.gallery-pic {
  align-self: stretch;
  border: none;
  width: 100%;
  height: 100%;
  vertical-align:middle;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  flex: 1 1 auto;
}