
.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.preview-active {
    display: flex;
    justify-content: center;
    align-items: center;
}


.preview-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}


.preview-content {
    border-radius: 5px;
    text-align: center;
    display: flex;
    background-color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-close {
    margin-top: 50px;
    top: 0;
    /* margin: 20px; */
}

.margin-items {
  margin: 15px;
}



.subView {
  height: 90px;
  width: 98%;
  align-self: center;
  box-sizing: border-box;
  /* margin-right: -4px; */
}

.submitURL {
  display: flex;
  border-radius: 10px;
  /* overflow: hidden; */
}

.submit-title {
  height: 100%;
  flex: 2;
  background-color: #f8f8f8;
  border-radius: 9px;
  border-color: black;
  border-width: 5px;
  margin-right: 25px;
}